.advantagesList {
	margin-top: 45px;
	padding-left: 0;
}

.advantagesItem {
	position: relative;

	display: grid;
	overflow: hidden;

	margin-bottom: 40px;
	grid-template-columns: auto 1fr;
}

.advantagesItemIconBlock {
	margin-right: 40px;

	text-align: center;
}

.advantagesItemIcon {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;

	border-radius: 50%;
	background-color: var(--green-light);
}

.advantagesItemIconBlock::after {
	position: absolute;
	top: 60px;
	bottom: 0;

	height: 100%;

	content: '';

	border: 1px solid #D2D2D2;
}

.advantagesItemInfoBlock {
	padding-right: 20px;
}

@media screen and (max-width: 1200px) {
	.advantagesList {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px 0;
	}
}
