.wrapper {
	display: grid;
	grid-template-columns: auto 230px minmax(320px, 1200px) auto;
	grid-template-areas:
		". header header ."
		". sidebar main ."
		"footer footer footer footer";

	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;
}

.main {
	grid-area: main;

	margin: 0 30px;

	outline: none;
}

.skipLink {
	position: fixed;
	top: 10px;
	left: 100px;

	display: block;
	overflow: hidden;

	height: 0;

	color: var(--white);
	background-color: var(--accent);
}

.displayed {
	overflow: visible;

	height: auto;
}

@media (max-width: 765px) {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		gap: 10px;
		grid-template-areas:
			"header"
			" main"
			"footer";
	}

	.sidebar {
		display: none;
	}

	.main {
		margin: 0;
	}
}
