.footer {
	display: grid;

	align-items: center;
	justify-content: space-between;

	margin-top: 30px;

	padding: 25px 32px;

	background-color: var(--accent);

	font-size: 16px;
	grid-area: footer;
	grid-template-columns: 1fr auto auto;
	grid-template-rows: 1fr;
}

.footerLink,
.footer {
	color: var(--white);
}

.footerLink {
	margin-left: 40px;

	transition: all 0.2s;
}

.footerLink:hover {
	text-decoration: underline;

	color: var(--gray-light);
}

@media (max-width: 765px) {
	.footer {
		grid-template-columns: 1fr;
		gap: 10px;
		justify-items: center;
	}

	.footerLink {
		margin: 0;
	}
}
