.button {
	width: 40px;
	height: 40px;

	cursor: pointer;
	transition: all 0.2s;

	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.primary {
	background-color: var(--accent);
}

.primary svg * {
	fill: var(--white);
}

.primary:hover {
	background-color: var(--accent-hover);
}

.white {
	background-color: var(--white);
}

.white svg * {
	fill: var(--accent);
}

.white:hover {
	background-color: var(--accent);
}

.white:hover svg * {
	fill: var(--white);
}
