.hhTitle,
.title {
	display: grid;
	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.title {
	grid-template-columns: auto 1fr auto;

	margin-bottom: 30px;
	margin-left: 30px;
}

.hhTitle {
	grid-template-columns: auto 1fr;
}

.wrapper {
	margin-top: 40px;
}

.skillsList {
	display: grid;
	grid-template-columns: repeat(6, auto);

	justify-content: start;

	padding: 0;
}

.skillsItem {
	margin-right: 10px;
}

.seo h1 {
	margin: 0;

	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
}

.seo h2 {
	margin-top: 40px;
	margin-bottom: 25px;

	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}

.seo h3 {
	margin: 0;
	margin-bottom: 20px;

	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

@media screen and (max-width: 755px) {
	.skillsList {
		grid-template-columns: repeat(3, auto);
		gap: 10px 0;
	}

	.wrapper {
		margin-top: 10px;
	}
}

@media screen and (max-width: 510px) {
	.skillsList {
		grid-template-columns: repeat(2, auto);
	}
}

@media screen and (max-width: 370px) {
	.skillsList {
		grid-template-columns: auto;
		gap: 10px;
	}
}

@media screen and (max-width: 640px) {
	.title {
		grid-template-columns: auto 1fr;
	}
}
