.firstLevel {
	display: grid;
	align-items: center;

	margin-top: 20px;

	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	grid-template-columns: 24px 1fr;
	gap: 20px;
}

.firstLevel:hover,
.firstLevelActive {
	color: var(--accent);
}

.firstLevelActive svg {
	fill: var(--accent);
}

.firstLevel:hover svg {
	fill: var(--accent);
}

.secondLevel {
	margin-bottom: 10px;

	cursor: pointer;
	text-transform: uppercase;

	color: var(--gray-dark);
	border: none;
	background-color: transparent;

	font-size: 14px;
	font-weight: 600;
}

.secondBlock {
	margin-top: 15px;
	margin-left: 10px;
	padding-left: 32px;

	border-left: 1px solid #DFDFDF;
}

.thirdLevel {
	display: block;

	margin-bottom: 10px;
	margin-left: 10px;

	cursor: pointer;

	color: var(--gray-dark);
	outline-offset: -1;

	font-size: 14px;
	font-weight: 500;
}

.secondLevelBlock {
	overflow: hidden;
}

.thirdLevel:hover,
.thirdLevelActive {
	color: var(--accent);
}
