.sortIcon {
	display: none;
}

.active .sortIcon {
	display: block;

	margin-right: 8px;
}

.active {
	color: var(--accent);

	font-weight: bold;
}

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort button {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;

	cursor: pointer;
	transition: background 0.2s;

	border: none;
	background-color: transparent;

	font-size: 16px;
}

.sortName {
	display: none;
}
