.sortIcon {
	display: none;
}

.active .sortIcon {
	display: block;
	margin-right: 8px;
}

.active {
	font-weight: bold;
	color: var(--accent);
}

.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}

.sort button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: background .2s;
	border: none;
	background-color: transparent;
	font-size: 16px;
}

.sortName {
	display: none;
}