html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background-color: #E5E5E5;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visualyHidden {
	position: absolute;

	overflow: hidden;

	width: 0;
	height: 0;

	font-size: 0;
}

ul {
	padding: 0;

	list-style: none;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray: #A4A4A4;
	--gray-bgc: #E5E5E5;
	--gray-dark: #6C7077;
	--white: white;
	--accent: #7351F5;
	--accent-hover: #4B2DC2;
	--red: #FC836D;
	--red-light: #F0B7AD;
	--green: #007B48;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans Display', sans-serif;
}
